@model IEnumerable<defes1.Domain.Usuario>

@{
    ViewBag.Title = "Usuários";
}

<h2>Usuários</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Login
        </th>
        <th>
            Ativo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAtivo)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.UsuarioID }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.UsuarioID })
            </td>
        </tr>
    }

</table><br />
@ViewBag.TotalUsuarios
